.grid {
    display: flex;
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color: rgb(12, 12, 12);
}

@media screen and (max-width:500px) {
    .grid {
        width: 350px;
        height: 350px
    }

    .turn-highlight {
        color: rgb(9, 9, 9);
        font-size: 25px;
    }
}

button {
    padding: 10px;
    background-color: beige;
    border-radius: 10px;
    border: 2px solid brown;
}